.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.intro-center {
  text-align: center;
}
.resume-bordered {
  border: 2px solid #f8f6f6;
  border-radius: 12px;
  padding: 24px 20px;
  background: #000b0c;
  color: #fff;
  margin-bottom: 2em;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.right-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: rgb(5, 158, 166);
}
.common{
    border: 2px solid black;
}
.header{
    background-color: rgb(3, 100, 20);
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height:auto;
    z-index: 1;
}
li{ font-weight: bold; }
.normal{ font-weight: normal; }
.title{ font-size: 24px; text-decoration: underline; }
.picture {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
}

.aeration-title {
  margin-bottom: 0.5em;
}

.aeration-desc {
  margin-top: 0;
  margin-bottom: 1em;
  max-width: 600px;
}
.link {
  color: #f8f8f9;
  text-decoration: underline;
  font-weight: normal;
  position: relative;
  cursor: pointer;
}
.link:hover {
  color: #0052a3;
}
.backtotop{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
div {
  overflow: visible;
  height: auto;
}

.aligned-section {
  margin-left: -35px;
}

.tableau-subtitle {
  font-family: Georgia, 'Garamond', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.5px;
}



 